<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" data-th-href="@{/reviews.css}">
    <title>Search</title>
</head>

<body background="images/food.png"
    style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)"></body>
<nav class="navbar bg-light nav justify-content-center">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="images/Rimage.png" alt="Bootstrap" width="80" height="80">
        </a>
    </div>
</nav>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" data-th-href="@{/user(userName=${userName})}"> Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="container d-flex justify-content-center">What We Reccommend</h1>
            <br>
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/review">
                        <div class="container">
                            <table>
                                <tr data-th-each="l: ${listOfReviews}">
                                    <td>
                                        <br>
                                        <div style="width:100%">
                                            <div style="float:left; width:10%">
                                                <img id="image" data-th-src="${l.getProfilePhoto}" alt="" width="100"
                                                    height="100">
                                            </div>
                                            <script> const img = document.getElementById("image")
                                                img.addEventListener("error", function (event) {
                                                    event.target.src = "images/icon.png"
                                                    event.onerror = null
                                                })
                                            </script>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <span>By:</span>
                                            <br>
                                            <span style="float:left" data-th-text="${l.getAuthorName}">Author
                                                Name</span>
                                    </td>

                                    <td>
                                        <div style="float:right; width:90%;">
                                            <span style="font-weight: bold;">Food Place:</span>
                                            <span data-th-text="${l.getName}">Food Place:</span>
                                            <br>
                                            <br>
                                            <span style="font-weight: bold;">Author's Rating:</span>
                                            <span data-th-text="${l.getRating}">Author Rating</span>
                                            <br>
                                            <br>
                                            <span style="font-weight: bold;">Author's Review:</span>
                                            <div style="width:70%; text-align:center;"></div>
                                            <span data-th-text="${l.getText}">Author Review</span>
                                            <br>
                                            <br>

                                            <input type="hidden" name="userName" data-th-value="${userName}">
                                            <input type="hidden" name="name" data-th-value="${l.getName}">
                                            <input type="hidden" name="text" data-th-value="${l.getText}">
                                            <!-- <input type="hidden" name="text" data-th-value="${l.getRating}"> 
                                    <input type="hidden" name="text" data-th-value="${l.getAuthorName}"> -->

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <button type="submit" class="btn btn-warning btn-lg">Save it!</button> <!-- <span data-th-text="${keyword}"></span> -->
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            </body>

</html>