<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>Search with Keyword</title>
</head>
<body background="images/marble.png" style="background-size: cover; background-blend-mode: overlay; background-color: rgba(255, 255, 255, 0.486)" ></body>
    <nav class="navbar bg-light nav justify-content-center">
        <div class="container">
          <a class="navbar-brand" data-th-href="@{/user(userName=${userName})}">
            <img src="images/Rimage.png" alt="Bootstrap" width="80" height="80">
          </a>
        </div>
      </nav>
    <h1 class="container d-flex justify-content-center"><span data-th-text="${keyword}"></span>, here is a recommendation</h1>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
    <form method="POST" action="/review">
    <div class="container">
        <table>
            <tr data-th-each="l: ${listOfReviews}">
                <td>
                    <div style="width:100%">
                        <div style="float:left; width:10%">
                            <img data-th-src="${l.getProfilePhoto}" alt="" width="100" height="100">
                                </div>                   
                </td>
                                        <td>
                                            <div style="float:right; width:90%">
                                                <span>Name:</span> 
                                                <span data-th-text="${l.getName}">Name</span>
                                                <br>
                                                <br>
                                                <span>Author's Name:</span>
                                                <span data-th-text="${l.getAuthorName}">Author Name</span>
                                                <br>
                                                <span>Author's Rating:</span>
                                                <span data-th-text="${l.getRating}">Author Rating</span>
                                                <br>                           
                                                <br>
                                                <span>Author's Review:</span>
                                                <div style="width:70%; text-align:center;"></div>
                                                <span data-th-text="${l.getText}">Author Review</span>
                                                <br>                          
                                                <br>
                                                
                                                    <input type="text" name="userName" data-th-value="${userName}">
                                                    <input type="text" name="name" data-th-value="${l.getName}">
                                                    <input type="text" name="text" data-th-value="${l.getText}">
    
                                            </div>
                                        </td>
                                    <br>
                            </div>
                        </div>
            </tr>
                                    
                    
                                        <button type="submit" class="btn btn-warning btn-lg">Save it!</button> <!--  --> 
                                    </form>
    </table>
<hr>
</body>
</html>